mode:
  develop: true
server:
  port: 8090

db:
  dsn: root:root@tcp(192.168.10.11:3306)/golang_web?charset=utf8mb4&parseTime=True&loc=Local
  maxIdleConn: 10 # 最多空闲连接数
  maxOpenConn: 10 # 最多打开连接数

redis:
  url: 192.168.10.11:6379

jwt:
  tokenExpire: 30 # token有效时长（分钟）
  signingKey: golang.cn # 签名使用的key
log:
  MaxSize: 10 # 日志文件最大占用存储空间（M），超限后开始自动分割
  MaxBackups: 10 # 保留旧文件的最大个数
  MaxAge: 90 # 保留旧文件的最大天数